<footer>
  <div>
    <div>
      <i class="fa-regular fa-copyright"></i>
      <div>steffen.codes</div>
    </div>

    <div>
      <a
        href="https://github.com/steffenkloster"
        target="_blank"
        rel="noopener"
      >
        <i class="fa-brands fa-github"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/steffen-andreas-kloster-35b6a6143/"
        target="_blank"
        rel="noopener"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
  </div>
</footer>

<div class="scroll-up">
  <i class="fa-regular fa-circle-up"></i>
</div>
