<section class="flow">
  <div class="">
    <div class="flex flex-col w-full">
      <a href="/multimediedesigner/{{url}}/index.html">
        <div class="title">
          <h1 class="">
            {{title}}
          </h1>
        </div>
      </a>

      <!--
      <div>
         {{> @partial-block }}
      </div>
      -->

      <a href="/multimediedesigner/{{url}}/index.html">
        <button type="button">Læs mere</button>
      </a>
    </div>

    <i class="{{icon}}"></i>
  </div>
</section>
