<nav>
  <div>
    <a href="/">
      <img src="/logo.svg" alt="Steffen AK" />
    </a>
    <ul>
      <li>
        <a class="link-forside" href="/">forside</a>
      </li>

      <li>
        <a
          class="link-mul"
          href="/multimediedesigner/index.html"
        >multimediedesigner</a>
      </li>

      <li>
        <a class="link-projekter" href="/projekter/index.html">projekter</a>
      </li>

      <li>
        <a class="link-kontakt" href="/kontakt/index.html">kontakt</a>
      </li>
    </ul>
    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</nav>

<div class="mobile-menu">
  <a href="/">forside</a>
  <a href="/multimediedesigner/index.html">multimediedesigner</a>
  <a href="/projekter/index.html">projekter</a>
  <a href="">kontakt</a>
</div>
