<section class="tags">
  <div>
    <div>
      <a class="text-base" href="../index.html">
        <i class="fa-solid fa-angles-left"></i> <span>Gå tilbage</span>
      </a>
    {{> @partial-block }}
    </div>
  </div>
</section>
