.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.filter-white {
  filter: brightness(0) invert(1);
}

.filter-black {
  filter: brightness(0);
}

.filter-none {
  filter: none;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.padding-y {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-x {
  padding-left: 2rem;
  padding-right: 2rem;
}

.padding {
  padding: 2rem;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.mb {
  margin-bottom: 1rem;
}

.gap {
  gap: 1rem;
}

.relative {
  position: relative;
}

.object-cover {
  object-fit: cover;
}

.absolute {
  position: absolute;
}

.mono {
  font-family: monospace;
}
